/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  #visualization-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .list-item {
    margin-bottom: 10px; /* Adjust the margin as needed */
    padding: 10px; /* Add padding if desired */
    border: 1px solid #ddd; /* Optional border for each list item */
}
ul {
    list-style-type: none;
}
.container {
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto;
  border: 1px solid #ddd; /* Border styling */
  padding: 20px; /* Adjust the padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
}

  

  